* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--Fourth-color);
    color: var(--First-color);
    animation: start 1s linear;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --First-color: #112B3C;
    --Second-color: #205375;
    --Third-color: #F66B0E;
    --Fourth-color: #EFEFEF;
}

/* MOBILE FIRST */

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10%;
    background-color: var(--Third-color);
}

.bq-logo {
    width: 3.2rem;
}

.open-menu {
    font-size: 2rem;
    background-color: var(--Third-color);
    color: var(--Fourth-color);
    border: none;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--First-color);
    color: var(--Fourth-color);

    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.close-menu {
    margin-right: 2.5rem;
    flex-grow: 1;
    align-self: flex-end;
    font-size: 2rem;
    background-color: var(--First-color);
    color: var(--Fourth-color);
    border: none;
}

.navlist {
    margin: -3rem 0 0;
    padding: 0;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
    list-style-type: none;
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--First-color);
    color: var(--Fourth-color);
}

.title-1 {
    margin: 0 0 1.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.text-machine {
    display: inline-block;
    width: 6ch;
    overflow: hidden;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    border-right: 4px solid var(--Fourth-color);
    animation: typing 3s steps(5) infinite, blink 0.5s step-end infinite alternate;
}

.hero-desc {
    margin: 0 0 3.2rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--Third-color);
}

.fa-laptop-code {
    font-size: 7rem;
    transform-origin: 50% 50%;
    animation: rolling 8s infinite ease-in-out;
}

.icons-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.random-icons {
    position: absolute;
    z-index: 5;
    font-size: 2rem;
    color: var(--Fourth-color);
    opacity: 0.1;
}

/* Skills */

.skills,
.projects,
.contact-me {
    width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title-2 {
    margin: 1rem 0 3rem;
    font-size: 2rem;
}

.skills-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.skill {
    text-align: center;
}

.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-python,
.fa-square-git,
.fa-square-github,
.fa-npm {
    font-size: 5rem;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js {
    color: #f7df1e;
}

.fa-python {
    color: #4584b6;
}

.fa-square-git {
    color: #f1502f;
}

.fa-square-github {
    color: #333333;
}

.fa-npm {
    color: #cb3837;
}

.skill-desc {
    margin-top: 7px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

/* Projects */

.projects {
    background-color: var(--First-color);
    color: var(--Fourth-color);
}

.projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.spin-container,
.projects-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.spin-container {
    position: relative;
    width: 82%;
    height: 400px;
    min-height: 400px;
    max-width: 290px;
    overflow: hidden;
    box-shadow: 3px 3px 15px var(--Fourth-color);
}

.projects-card {
    width: 96%;
    min-height: 390px;
    max-width: 280px;
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.spin-container::before,
.spin-container::after {
    content: "";
    position: absolute;
}

.spin-container::before {
    width: 100%;
    height: 100%;
    padding: 5rem;
    background: conic-gradient(var(--Third-color) 20%, transparent 120deg);
    animation: spin 3s linear infinite;
}

.spin-container::after {
    width: 95%;
    height: 95%;
    border-radius: 30px;
    background-color: var(--First-color);
}

.calculator {
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), url(../assets/images/projects/calculator.webp);
}

.profesor-buho-lp {
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), url(../assets/images/projects/profesor-buho.webp);
}

.whatsapp-chat-opener {
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), url(../assets/images/projects/whatsapp.webp);
}

.freeCodeCamp-courses {
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), url(../assets/images/projects/freecodecamp.webp);
}

.pets-landing-page {
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), url(../assets/images/projects/pets.webp);
}

.calculator,
.profesor-buho-lp,
.whatsapp-chat-opener,
.pets-landing-page,
.freeCodeCamp-courses {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.project-skills-used {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-skills {
    font-size: 2rem;
}

.app-site, 
.github-location {
    display: inline-block;
    margin-bottom: 0.8rem;
    padding: 1rem 2.5rem;
    border: 2px solid var(--Third-color);
    border-radius: 50px;
}

/* Contact Me */

.contact-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-link {
    display: block;
    font-size: 3rem;
    color: var(--Second-color);
}

/* Footer */

.footer {
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--First-color);
    color: var(--Fourth-color);
}

.address {
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-circle-up {
    flex-grow: 1;
    text-align: right;
    font-size: 2rem;
    color: var(--Third-color);
}

/* RESPONSIVE DESIGN */

@media (min-width: 768px) {    
    /* Header */
    .bq-logo-link {
        flex-grow: 1;
    }
    
    .open-menu,
    .close-menu {
        display: none;
    }

    .navbar {
        position: relative;
        width: unset;
        height: unset;
        padding: 0;
        display: block;
        flex-grow: 2;
        background-color: var(--Third-color);
        opacity: 1;
        visibility: visible;
    }

    .navlist {
        margin: 0;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        font-size: 1.2rem;
    }

    /* Hero */
    .title-1 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    .random-icons {
        font-size: 3rem;
    }
    
    /* Skills */
    .skills,
    .projects,
    .contact-me {
        padding-bottom: 3.5rem;
    }

    /* Contact Me */
    .contact-link {
        font-size: 4rem;
    }

    /* Footer */
    .fa-circle-up,
    .fa-location-dot {
        font-size: 2.5rem;
    }

    .location-text {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    /* Header */
    .bq-logo {
        width: 3.5rem;
    }

    .navlist {
        font-size: 1.5rem;
        gap: 3.2rem;
    }
    
    /* Hero */
    .hero-desc {
        font-size: 2rem;
    }

    .fa-laptop-code {
        font-size: 8rem;
    }

    /* Skills */
    .fa-html5,
    .fa-css3-alt,
    .fa-js,
    .fa-python,
    .fa-square-git,
    .fa-square-github,
    .fa-npm {
        font-size: 6rem;
    }

    /* Projects */
    .project-skills {
        font-size: 2rem;
    }

    /* Contact */
    .contact-link {
        font-size: 6rem;
    }

    /* Hovers */
    .navlink:hover {
        color: var(--First-color);
        transition: 0.5s;
    }
}

@media (min-width: 1200px) {
    .skills-items,
    .projects-container,
    .contact-container {
        max-width: 1200px;
    }
}

/* HOVERS */
.projects-card:hover {
    transform: scale(1.07);
    transition: 0.8s ease-in-out;
}

.app-site:hover,
.github-location:hover {
    transform: scale(1.2);
    background-color: var(--Third-color);
    transition: 0.5s ease-in-out;
}

.fa-envelope:hover,
.fa-whatsapp:hover,
.fa-github:hover {
    transform: scale(1.3);
    transition: 0.8s ease-in-out;
}

.fa-circle-up:hover {
    transform: scale(1.2);
    transition: 0.8s ease-in-out;
}

.fa-html5:hover:not(.project-skills), 
.fa-css3-alt:hover:not(.project-skills),
.fa-js:hover:not(.project-skills),
.fa-python:hover:not(.project-skills),
.fa-square-git:hover,
.fa-square-github:hover,
.fa-npm:hover {
    cursor: not-allowed;
    text-shadow: -20px 10px 5px #20537588;
    transform-origin: 25% 50% 60px;
    transform: rotate3d(1, 1, 0, -25deg);
    transition: 0.75s linear;
}

/* KEYFRAMES - ANIMATIONS */

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }    
}

@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes start{
    0%{
        opacity: 0;
        background-color: var(--Second-color);
    }

    100%{
        opacity: 1;
    }
}